<div class="jumbotron">
    <div class="container" style="display: flex; justify-content: start; align-items: center;">
        <h1 style="color:black;">Web Application EJS + Express</h1>
    </div>
    <img src="../img/index_bg.jpg" alt="background_img" style="width:100%; height:auto;">
</div>
